<ion-header class="ion-no-border" mode="ios">
    <ion-toolbar class="ion-padding">
        <ion-icon name="menu-outline" slot="start"></ion-icon>
        <ion-title>Chat</ion-title>
        <ion-icon name="camera-outline" slot="end"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="tabs ion-padding">
        <ion-segment value="chats" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="chats">
                <ion-label>chats</ion-label>
            </ion-segment-button>
            <ion-segment-button value="status">
                <ion-label>status</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div class="chat-list" *ngIf="activeTab == 'chats' ">
        <div class="recent-chats ion-padding">
            <div class="heading">
                <h1>Recent chats</h1>
                <ion-icon name="search-sharp"></ion-icon>
            </div>
            <div class="chats">
                <ion-item lines="none" routerLink="/conversation-page">
                    <ion-avatar slot="start">
                        <img src="https://i.pravatar.cc/300">
                    </ion-avatar>
                    <ion-label class=" ion-text-nowrap">
                        <h2>Bella</h2>
                        <p>Typing...</p>
                    </ion-label>
                    <div class="info-div">
                        <p>3:15</p>
                    </div>
                </ion-item>
                <ion-item lines="none" routerLink="/conversation-page">
                    <ion-avatar slot="start">
                        <img src="https://i.pravatar.cc/370">
                    </ion-avatar>
                    <ion-label class=" ion-text-nowrap">
                        <h2>Mom</h2>
                        <p>N'oublie pas les clés</p>
                    </ion-label>
                    <div class="info-div">
                        <ion-badge>1</ion-badge>
                        <p>16:00</p>
                    </div>
                </ion-item>
                <ion-item lines="none" routerLink="/conversation-page">
                    <ion-avatar slot="start">
                        <img src="https://i.pravatar.cc/310">
                    </ion-avatar>
                    <ion-label class=" ion-text-nowrap">
                        <h2>Sami</h2>
                        <p>Il est quel heure</p>
                    </ion-label>
                    <div class="info-div">
                        <ion-icon name="checkmark-done-outline"></ion-icon>
                        <p>10:00</p>
                    </div>
                </ion-item>
                <ion-item lines="none" routerLink="/conversation-page">
                    <ion-avatar slot="start">
                        <img src="https://i.pravatar.cc/330">
                    </ion-avatar>
                    <ion-label class=" ion-text-nowrap">
                        <h2>Dad</h2>
                        <p>N'oublie pas les clés</p>
                    </ion-label>
                    <div class="info-div">
                        <ion-badge>2</ion-badge>
                        <p>6:00</p>
                    </div>
                </ion-item>

            </div>
        </div>
        <div class=" all-chats ion-padding">
            <div class="heading">
                <h1>All Chats</h1>
            </div>
            <div class="chats">
                <ion-item lines="none" routerLink="/conversation-page">
                    <ion-avatar slot="start">
                        <img src="https://i.pravatar.cc/300">
                    </ion-avatar>
                    <ion-label class=" ion-text-nowrap">
                        <h2>Bella</h2>
                        <p>Typing...</p>
                    </ion-label>
                    <div class="info-div">
                        <p>3:15</p>
                    </div>
                </ion-item>
                <ion-item lines="none" routerLink="/conversation-page">
                    <ion-avatar slot="start">
                        <img src="https://i.pravatar.cc/370">
                    </ion-avatar>
                    <ion-label class=" ion-text-nowrap">
                        <h2>Mom</h2>
                        <p>N'oublie pas les clés</p>
                    </ion-label>
                    <div class="info-div">
                        <ion-badge>1</ion-badge>
                        <p>16:00</p>
                    </div>
                </ion-item>
                <ion-item lines="none" routerLink="/conversation-page">
                    <ion-avatar slot="start">
                        <img src="https://i.pravatar.cc/310">
                    </ion-avatar>
                    <ion-label class=" ion-text-nowrap">
                        <h2>Sami</h2>
                        <p>Il est quel heure</p>
                    </ion-label>
                    <div class="info-div">
                        <ion-icon name="checkmark-done-outline"></ion-icon>
                        <p>10:00</p>
                    </div>
                </ion-item>
                <ion-item lines="none" routerLink="/conversation-page">
                    <ion-avatar slot="start">
                        <img src="https://i.pravatar.cc/330">
                    </ion-avatar>
                    <ion-label class=" ion-text-nowrap">
                        <h2>Dad</h2>
                        <p>N'oublie pas les clés</p>
                    </ion-label>
                    <div class="info-div">
                        <ion-badge>2</ion-badge>
                        <p>6:00</p>
                    </div>
                </ion-item>

            </div>
        </div>
    </div>
    <ion-fab-button>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
</ion-content>
