ion-header {
    ion-toolbar {
        --background: #7c7899;
        letter-spacing: 2px;
        font-size: 2rem;
        color: #fff;
        ion-title {
            margin-top: 5px;
            font-size: 2rem;
        }
    }
}

ion-content {
    --background: #7c7899;
    .tabs {
        margin-top: 20px;
        font-family: "Nato Sans HK", sans-serif;
        ion-segment {
            --background: none;
            ion-segment-button {
                font-size: 1rem;
                --border-width: 0;
                --padding-start: 8px;
                --padding-bottom: 3px;
                --padding-end: 8px;
                --padding-top: 3px;
                --background-checked: #feacac;
                --indicator-color: transparent;
                --color: #d1d1d1;
                --color-checked: #fff;
                font-weight: bold;
                border-radius: 22px;
            }
        }
    }
    .chat-list {
        background: #fff;
        margin-top: 5px;
        border-top-right-radius: 38px;
        border-top-left-radius: 38px;
        .all-chats {
            padding-top: 0;
        }
        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #7c7899;
            h1 {
                font-size: 1, 2rem;
                font-weight: bold;
            }
            ion-icon {
                font-size: 1.5rem;
            }
        }
        .chats {
            margin-top: 15px;
            ion-item::part(native) {
                padding: 0;
            }
            ion-item {
                margin-bottom: 15px;
                ion-avatar {
                    width: 100%;
                    height: 100%;
                    max-width: 51px;
                }
                ion-label {
                    h2 {
                        font-size: 1rem;
                        font-weight: bolder;
                        color: #7c7899;
                    }
                    p {
                        margin-top: 6px;
                        font-size: 0.8rem;
                        color: #7c7899;
                        opacity: 0.5;
                        letter-spacing: 0.5;
                        font-weight: bold;
                    }
                }
                .info-div {
                    position: absolute;
                    right: 0;
                    font-size: 0.8rem;
                    color: #7c7899;
                    font-weight: bolder;
                    text-align: right;
                    p {
                        opacity: 0.5;
                    }
                    ion-icon {
                        font-size: 1.3rem;
                    }
                    ion-badge {
                        font-size: 11px;
                        margin-bottom: 5px;
                        --padding-start: 5px;
                        --padding-end: 5px;
                        --padding-bottom: 3px;
                        --padding-top: 3px;
                        --background: red;
                    }
                }
            }
        }
    }
    ion-fab-button {
        position: fixed;
        z-index: 111;
        bottom: 30px;
        right: 15px;
        --background: #feacac;
    }
}
